@use "../../global" as *;

//レポート　　のカード　のアイコン ========================


.c-report__icon {
    width: 26px;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: $color-base;
    position: absolute;
    display: grid;
    place-items: center;
    top: 36px;
    right: 36px;

    &.--p-card {
        top: 13px;
        right: 11px; 
    }

    img {
        width: 15px;
        height: 15px;
        object-fit: contain;
    }
}

//プランナー　　のカード　のアイコン ========================

.c-plnner__icon {
    width: 26px;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: $color-base;
    position: absolute;
    display: grid;
    place-items: center;
    top: 16px;
    right: 16px;

    img {
        width: 15px;
        height: 15px;
        object-fit: contain;
    }
}

//人気　のカード　のアイコン ========================


.c-pupular__icon {
    width: 26px;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: $color-base;
    position: absolute;
    display: grid;
    place-items: center;
    top: 29px;
    right: 27px;

    img {
        width: 15px;
        height: 15px;
        object-fit: contain;
    }
}