@use "../../global" as *;


//アイコン ====================
.p-drawer__icon {
 
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  row-gap: 15px;
  cursor: pointer;

  @include mq(sp) {
    width: 50px;
    height: 50px;
    row-gap: 5px;
   }
 
}
.p-drawer__icon--bar {
  width: 33px;
  height: 2px;
  background: #fff;

  @include mq(sp) {
    width: 19.21px;
   }
}

//メニューが開いている時 ========
.p-drawer__icon.js-show {
  .p-drawer__icon--bar:nth-of-type(1) {
    rotate: 45deg;
    translate: 0 7.5px;
    @include mq(sp) {
      translate: 0 2.5px;
     }
  }
  .p-drawer__icon--bar:nth-of-type(2) {
    display: none;
  }
  .p-drawer__icon--bar:nth-of-type(3) {
    rotate: -45deg;
    translate: 0 -7.5px;
    @include mq(sp) {
      translate: 0 -4.5px;
     }
  }
}

//ドロワーメニュー
.p-drawer {
  position: fixed;
  z-index: $z-drawer;
  overflow-y: scroll;
  
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  max-height: 880px;
  background: $color-bg;
  padding: rm(30);

  @include mq(sp) {
    padding: rm(15);
     }
}
.p-drawer__icon--bar {
  transition: all 0.5s ease;
}


@keyframes drawer-animation1 {
  0% {
    clip-path: inset(0 0 100% 93%);
  }
  100% {
    clip-path: inset(0 0 0 93%);
  }
}

@keyframes drawer-animation2 {
  0% {
    clip-path: inset(0 0 0 93%);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

//ドロワーの出現の動きを指定
.p-drawer {
  
  transition: translate 0.2s ease;
  clip-path: inset(0 0 100% 93%);
  z-index: -10;
 

  
  &.js-show {
    
    z-index: 100;
    animation: drawer-animation1 0.4s linear forwards,drawer-animation2 0.6s 0.4s linear forwards ;
     
    
  }
}
.p-drawer__body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  padding-top: 163px;

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    border-top: 1px solid #757676;
    border-right: 1px solid #757676;
    rotate: -45deg;
    position: absolute;
    bottom: 52px;
    left: 50%;
    translate: -50%;

    @include mq(sp) {
      content: none;
       }
  }

}

.p-drawer__top {
  display: flex;
  align-items: flex-start;
  height: calc(100% - 89px);

  @include mq(sp) {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 32px;
    width: fit-content;
    margin-inline: auto;
     }
  
 
}
.p-drawer__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 32px;
  padding-top: 40px;

  @include mq(sp) {
    row-gap: 18px;
    padding-top: 0;
     }
  
  
  li a {
    @include font(24, 4000, 1, 0);
    line-height: 1;
    color: #000;
    position: relative;

    @include mq(sp) {
      font-size: rm(18);
      line-height: 1.8;
       }
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #000;
      left: 50%;
      translate: -50%;
      bottom: -12px;
      scale: 0 1;
      transition: scale 0.3s ease;
    }
 
    @media (hover: hover) {
        &:hover {
          &::before {
       scale: 1 1;
         }
      }
   }
    
  }
}
.p-drawer__btn {
  display: inline-block;
  padding: 6px 30px;
  background: #757676;
  padding-block: rm(16);
  padding-inline: rm(24) rm(103);
  @include font(24, 400, 1, 0);
  line-height: 1;
  color: #fff;
  margin-top: 36px;
  border: 1px solid $color-base;
  position: relative;
  transition: background-color 0.3s ease,color 0.3s ease;

  @include mq(sp) {
   position: absolute;
   left: 50%;
   translate: -50%;
   top: calc(100% - 148px);
   margin-top: 0;
   font-size: 18px;
     }

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      background-color: #fff;
      color: $color-base;

      &::before {
        right: 10px;
      }
    }
}

  &::before {
    content: '';
    width: 27px;
    height: 5px;
    background-image: url('./../img/white-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    right: 12px;
}
}

.p-drawer__policy {
  padding-block: rm(34) rm(25);
  padding-right: 170px;
  width: 100%;
  height: auto;

  @include mq(sp) {
    margin-right: 0;
    padding-right: 0;
     }
}
.p-drawer__link {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  column-gap: rm(24);

  @include mq(sp) {
    align-items: center;
    justify-content: center;
    column-gap: rm(16);
   
     }


  @include mq(sp) {
    align-items: center;
     }

  li a {
    @include font(18, 400, 1, 0);
    line-height: 1;
    position: relative;

    @include mq(sp) {
     font-size: 14px;
       }
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #000;
        left: 50%;
        translate: -50%;
        bottom: -12px;
        scale: 0 1;
        transition: scale 0.3s ease;
      }
   
      @media (hover: hover) {
          &:hover {
            &::before {
         scale: 1 1;
           }
        }
     }
  
  }
}
.p-drawer__left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(sp) {
    width: fit-content;
    height: fit-content;
    align-items: flex-start;
     }
}
.p-drawer__right {
  width: 50%;
  height: 100%;
  border-left: 1px solid #757676;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 91px;

  @include mq(sp) {
    width: fit-content;
    padding-left: 0;
    align-items: center;
    border: none;
    height: fit-content;
     }
}

.p-drawer__logo {
  position: absolute;
  top: 40px;
  left: 30px;
  @include mq(sp) {
   left: 50%;
   translate: -50%;
   top: -20px;
     }

 
    transition: opacity 0.3s ease;
    @media (hover: hover) {
        &:hover {
         opacity: 0,7;

          
        }
}


  img {
    object-fit: contain;
  }
}

.p-main-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -5;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;

  &.is-show {
    z-index: 82;
    opacity: 1;
    visibility: visible;
  }
  &.is-active {
    z-index: 185;
    opacity: 1;
    visibility: visible;
  }
}